body {
	background-color: #f2f2f2;
  color: #444444;
	/* font-family: 'Oswald', sans-serif; */
}
.img-ID {
	border-radius: 50%;
	width: 200px;
	height: auto;
}
hr {
	/* border-width: 5px;
	margin-left: 100px;
	margin-right: 100px; */
  color: black;
}

p {
	color: black;
}
td {
	padding: 15px;
}
