body {
	background-color: #f2f2f2;
  color: #444444;
}
.img-ID {
	border-radius: 50%;
	width: 200px;
	height: auto;
}
hr {
  color: black;
}

p {
	color: black;
}
td {
	padding: 15px;
}
