body { 
	/* page not updating */
        background-color: #FFFFFF;
   	background-repeat: no-repeat;
    	background-attachment: fixed;
	font-family: 'Oswald', sans-serif;
}
.img-ID {
	border-radius: 50%;
	width: 200px;
	height: auto;
}
hr {
	border-width: 5px;
	margin-left: 100px;
	margin-right: 100px;
        color: black;
}
h1 {
	font-size: 100pt;
	color: black;
}
h2 {
	font-size: 40pt;
	color: black;
}
h3 {
	font-size: 20pt;
	color: black;
}

p {
	color: black;
}
a {
	color: black;
	font-size: 20pt;
}
td {
	padding: 15px;
}
